*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

header{
    background-color:#1A48A6 ;
    padding: 12px 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header_content {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0px 8px;
}

.header_content ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.kv_content{
    background-image: url(../img/kv.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: block;

}

.kv_content p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    font-size:60px;
    word-break: keep-all;

}


.copy{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
}

.longcopy{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    max-width: 500px;
    margin: 0 auto;
}

p span {
    background:linear-gradient(transparent 50%, orange 50%);

}



.service_content{
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}



.service_title{
    text-align:center;
    font-weight: bold;
    font-size: 24px;
    padding: 50px 0px 0px 0px;
}

.service_flex{
    display: flex;
    max-width: 800px;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
}

.service{
    width: 200px;
    text-align: center;
    border:3px solid gray;
    padding:20px;
    margin:5px;
    transition: 0.3s;
}

.discription{
    border:3px solid gray;
    margin: 13px;
    padding: 8px;
    pointer-events: auto;
}

#web.active,
#web:hover{
    background-color: #b3ffff;
}

#seo.active,
#seo:hover{
    background-color: #ffdea0;
}

#app.active,
#app:hover{
    background-color: #a7ff99;
}

.dtext.active{
    display: block;
}

.dtext{
    display: none;
}

.form{
    align-items: center;
    margin: 10px auto;
    max-width: 360px;

}

.submit{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

}

.formsub{
display: flex;
align-items: end;
max-width: 400px;
}

.form_title{
    text-align: center;
    font-size:24px;
    font-weight: bold;
    padding: 50px 0px 0px 0px;

}
.formq{
    text-align: center;
}

.must{
    font-size: 10px;
    color: red;
}

.want{
    font-size: 10px;
    color: grey;
}

nav {
    position: fixed;
    top: 48px;
    width: 100%;
    z-index: 10;
}
#header-menu {
    height: 0;
    overflow: hidden;
    transition: .3s;
    list-style:none;

}

#header-menu a{
    width: 100%;
    display: block;
}

.header-menusub{
    padding: 8px;
    font-size: 16px;
    color: #464646;
    display: block;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid white;
    width: 100%;
}
.hamburger {
    position: absolute;
    top: 12px;
    right:32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 10;
    
}
.hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute;
    height: 2px;
    background-color: white;
    width:100%;
    z-index: 10;
}
.hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
}
.hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
}
.hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
}
.hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
}
.hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    display: none;
}
.hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
}
.headerham{
    display: none;
}

.headerham.open {
    display: block;
}

#header-menu.open {
    height: auto; /* メニューが開いた時に高さを自動調整 */
}

.osibtn{
    padding: 5px 0px 0px 0px;
}


 .thank{
    font-size: 24px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    word-break: keep-all;
}

@media screen and (max-width:690px){
    .kv_content p{
        font-size: 40px;
    }
    .header_content ul{
            width: 350px;
    }
    }


@media screen and (max-width: 587px){
    .service_flex {
        flex-flow: column;
    }
    .service{
        margin-bottom: 24px;
    }
}

@media screen and (max-width:524px){
    .header_content ul{
        display: none;
    }
    .kv_content p{
        font-size: 26px;
    }
    .longcopy{ 
        max-width: 280px;
        margin: 0 auto;
}
}

@media screen and (max-width:440px){
    .kv_content p{
        font-size: 26px;
    }
    .thank{
        font-size: 14px;
    }
}

@media screen and (max-width:524px){    
    .headerham{
        display: block;
        background-color:#1A48A6;
    }
}



@media screen and (min-width:525px){    
    .hamburger{
        display: none;
    }
}
